@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

// font-family: 'Inter', sans-serif;
// font-family: 'Lexend Deca', sans-serif;

:root {
  --pry-colour1: hsl(233, 47%, 7%);
  --pry-colour2: hsl(244, 38%, 16%);
  --pry-colour3: hsl(277, 64%, 61%);
}

body {
  width: 500px;
  margin: 0 auto 0 auto;
  // height: 100vw;
  background-color: var(--pry-colour1);
  font-family: 'Inter', sans-serif;
  color: hsl(0, 0, 100%);
  padding: 2rem 1rem;
  text-align: center;
}

p {
  display: inline-block;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 2;
  margin-bottom: 0;
}

.container {
  width: 18rem;
  border-radius: 10px;
  display: inline-block;

  .img-container {
    // border-radius: 10px;
    z-index: 7;
    background: rgba(170, 92, 219, 0.9);
  }
}
img {
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.description {
  padding: 2rem 1rem;
  background: var(--pry-colour2);
}

span {
  color: var(--pry-colour3);
}

// ID Selector

#hero-header {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 0;
}

#hero-paragraph {
  display: inline-block;
  margin-top: 0;
}

#stats-container {
  #header1 {
    margin-top: 2.5rem;
  }
  h2 {
    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 11px;
  }
}
